<h1>Eat-Da-Burger!</h1>
<div class='burger-image'></div>

<div class="burger-lists">
  <div>
    <h2>Burgers to Eat!</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div>
    <h2>Burgers you DEVOURED!</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<h2>Add a Burger to Devour</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger_name" name="name">
  </div>

  <button class="button" type="submit">Add Burger</button>
</form>